.view-view-spmeasure {
  background-color: white;
}

/* Regular field styling */
.measure-form .measure-field {
  padding: 5px;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Label styling */
.measure-form .measure-field-label {
  width: 50%;
  float: left;
}

/* Value styling */
.measure-form .measure-field-value {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  float: right;
}

.measure-form .measure-field:after {
  display: table;
  clear: both;
  content: '';
}

.further-information-section h2 {
  font-weight: bold;
}
