@type: 'extra';
@element: 'custom';

@import (multiple, reference, optional) '../../theme.config';

@media print {
  @page {
    margin: 1.5cm 0.5cm;
  }

  * {
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }

  html,
  body {
    height: 100%;
  }

  a {
    page-break-inside: avoid;
  }

  a[href]:after {
    content: none !important;
  }

  blockquote {
    page-break-inside: avoid;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  img {
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: avoid;
  }

  p {
    position: relative;
    page-break-inside: avoid;
  }

  table,
  pre {
    page-break-inside: avoid;
  }

  ul,
  ol,
  dl {
    page-break-before: avoid;
  }

  .marine-tableau {
    page-break-inside: avoid;
  }
}

.has-print-button {
  .ui.basic.segment.content-area {
    display: flex;
    flex: none;
    flex-direction: column-reverse;
  }
}

.print-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

body.view-editview,
body.homepage-view {
  .print-button {
    display: none;
  }
}

.tableau-image-placeholder {
  display: none;
}

#main.print {
  .ui.basic.segment.content-area {
    width: 756px !important;
    flex-direction: column !important;
    color: #000 !important;
  }

  .ui.grid > .column {
    width: 100% !important;
  }

  .herosection-content-image {
    min-height: auto;
    background-image: none;
  }

  .herosection-content {
    position: relative;
  }

  .herosection-content-title {
    color: #000;
  }

  #tableau-wrap,
  .breadcrumb,
  .herosection-content-image-overlay,
  .footer-wrapper,
  .print-button,
  .breadcrumb,
  .header-right-section,
  .stagingBanner,
  .context-navigation {
    display: none !important;
  }

  .tableau-image-placeholder {
    display: block;
  }
}
